
/* TODO VARIABLES */
:root {
    /* * Estilos de los textos */
    --h1: clamp(52px, calc(125vw/8), 100px);
    --h2: clamp(36px, calc(35vw/9), 56px);
    --h3: clamp(30px, calc(10vw/3), 48px);
    --p: clamp(23px, calc(25vw/9), 40px);

    --h1-2: clamp(32px, calc(25vw/8), 45px);
    --h2-2: clamp(24px, calc(5vw/2), 36px);
    --h3-2: clamp(23px, calc(35vw/18), 28px);
    --p-2: clamp(16px, calc(25vw/18), 20px);

    --tipografia2: 'Yaldevi', sans-serif;
    --tipografia1: 'Yanone Kaffeesatz', sans-serif;

    /* * Estilos de Colores */
    --colorPrimario: linear-gradient(90deg, rgba(15,14,16,1) 25%, rgba(39,37,37,1) 45%);
    --colorSecundario: linear-gradient(180deg, rgba(20,122,175,1) 0%, rgba(13,16,33,1) 100%);
    --inversoPrimario: linear-gradient(90deg, rgba(39,37,37,1) 55%, rgba(15,14,16,1) 75%);
    --inversoSecundario: linear-gradient(180deg, rgba(13,16,33,1) 0%, rgba(20,122,175,1) 100%);

    --negro: #020202;
    --gris: #575757;
    --blanco: #fdfdfd;
    --celeste: rgba(20,122,175,1);

    /* * otro */
    --colum1: calc(var(--colum1-2) - 20px);
    --colum1-2: calc(100vw/8);
}


/* TODO ESTILOS GENERALES */
* {
    font-family: var(--tipografia1);
    font-size: var(--p);
    font-weight: 400;
    
    color: var(--blanco);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--colorPrimario);
    /* overflow: hidden;*/
}
h1 {
    font-size: var(--h1);
    font-weight: 900;
    margin: 0;
}
h2 {
    font-size: var(--h2);
    font-weight: 700;
    text-align: center;
}
h3 {
    font-size: var(--h3);
    font-weight: 600;
}
section {
    padding: clamp(50px, 6.94vw, 120px) var(--colum1); /* 100px */
    padding-bottom: clamp(70px, 8.33vw, 140px); /* 120px */
}
a {
    text-decoration: none;
}
img {
    object-fit: contain;
}
nav {
    list-style: none;
}
ol, ul {
    margin-left: 1em;
}


/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                           SECCION PANTALLA CARGA
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.carga {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: rgba(15, 14, 16, 0.85);
}
.logo {
    display: inline-block;
    display: flex;
    justify-content: center;
    position: relative;
}
.logo__img {
    width: clamp(200px,27.78vw,400px);
    object-fit: contain;
}
.logo__linea {
    position: absolute;
    width: 95%;
    height: 2.5px;
    background-color: var(--blanco);
    border-radius: 50%;
    bottom: 30%;animation: cargando 2.5s infinite;

}

/* * Animaciones */
@keyframes cargando {
    0% {
        width: 2%;
    }
    100% {
        width: 95%;
    }
}
/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 330px) {
    .logo__img {
        width: 80%;
    }
}


/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION HEADER
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * codigo */
.header__nav {
    display: flex;
    justify-content: space-between;
}
.header__li {
    text-transform: uppercase;
    font-family: var(--tipografia2);
    font-size: var(--h3-2);
    font-weight: 500;
    cursor: pointer;
}

/* * hover */
.header__li:hover {
    font-weight: 600;
    transform: scale(1.2);
}
/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .header {
        display: none;
    }
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION HEADER RESPONISVE
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * codigo */
.headerRes {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--negro);
}
.headerRes__i {
    font-size: 40px;
}
.headerRes__nav {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background: var(--negro);
    transform: translateY(-100%);
    transition: 1.5s;
}
.headerRes__li {
    text-transform: uppercase;
    font-family: var(--tipografia2);
    font-size: var(--h3-2);
    font-weight: 500;
    cursor: pointer;
}

/* * hover */
.headerRes__li:hover {
    font-weight: 600;
    transform: scale(1.2);
}
/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .headerRes {
        display: flex;
    }
    .headerRes__nav {
        display: flex;
    }
}





/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION NOSOTROS
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-bottom: clamp(70px, 12.5vw, 180px);
}
.nosotros__titulo {
    font-size: var(--h1);
}
.nosotros__descripcion {
    grid-row: 2/3;
    grid-column: 2/3;
}
.nosotros__flecha {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .nosotros {
        grid-template-columns: 1fr;
        gap: 15px;
        padding-top: 150px;
    }
    .nosotros__descripcion {
        grid-column: 1/2;
    }
    .nosotros__flecha {
        display: none;
    }
    
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                               SECCION VIDEO
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.video {
    background-image: url(../img/chica-sentada.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 3.125vw, 45px);
    padding-bottom: clamp(30px, 6.94vw, 120px);
    margin-bottom: clamp(50px, 11.11vw, 160px);
}
.video__texto {
    font-size: clamp(100px, 24.31vw, 350px);
    font-weight: 800;
    -webkit-text-fill-color: rgba(255,255,255,.2);
    -webkit-text-stroke: 2px var(--blanco);
    font-family: Yanone+Kaffeesatz;
    /*
    text-shadow: -2px -2px 0 var(--blanco),
                2px -2px 0 var(--blanco),
               -2px 2px 0 var(--blanco),
                2px 2px 0 var(--blanco);*/
}
.video__play {
    width: clamp(40px, 4.86vw, 70px);
    height: clamp(40px, 4.86vw, 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--celeste);
    padding-left: clamp(3px, 0.49vw, 7px);
    position: absolute;
}
.video__controles{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.video__linea {
    width: 85%;
    height: 5px;
    background-color: var(--blanco);

}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .video__linea {
        width: 65%;
        height: 5px;
        background-color: var(--blanco);
    
    }
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION DIVISOR
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.divisor {
    padding: clamp(10px, 2.08vw, 30px) 0;
    margin-bottom: clamp(20px, 5.56vw, 80px);
}
.carrusel {
    overflow: hidden;
}
.carrusel__contenedor {
    display: flex;
    width: calc(20/6*100%);
}
.carrusel__card {
    width: 5%;
    padding: 0 clamp(10px, 3.82vw, 55px);
}

.carrusel__img {
    filter: grayscale(100%) invert(100%);
}

.carrusel__img-mantener {
    filter: none;
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .carrusel__contenedor {
        width: 500%;
    }
    .carrusel__card {
        width: 25%;
    }
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION PROYECTOS
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.proyectos__circulo {
    width: clamp(150px, 27.77vw, 400px);
    height: clamp(150px, 27.77vw, 400px);
    background: linear-gradient(135deg, rgba(168,168,168,1) 0%, rgba(7,7,7,1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.proyectos__linea {
    width: clamp(230px, 52.08vw, 750px);
    height: clamp(230px, 52.08vw, 750px);
    border: 2px solid var(--blanco);
    border-radius: 50%;
    position: absolute;
}
.proyectos__img {
    width: clamp(30px, 4.86vw , 70px);
    height: clamp(30px, 4.86vw , 70px);
}
.proyectos__contenido {
    width: clamp(320px, 76.39vw, 1100px);
    height: clamp(320px, 76.39vw, 1100px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    z-index: 3;
    animation: girar 20s infinite linear;
}
.proyectos__contenido-hijo {
    display: flex;
    justify-content: center;
}
.proyectos__contenido-a {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: clamp(5px, 1.39vw, 20px);
}

    .proyectos__contenido-1 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .proyectos__contenido-2 {
        grid-column: 5/6;
        grid-row: 2/3;
    }
        .proyectos__contenido-2 .proyectos__contenido-a {
            flex-direction: row;
        }
    .proyectos__contenido-3 {
        grid-column: 5/6;
        grid-row: 3/4;
        justify-content: start;
    }
        .proyectos__contenido-3 .proyectos__contenido-a {
            flex-direction: row;
        }
    .proyectos__contenido-4 {
        grid-column: 4/5;
        grid-row: 4/5;
    }
        .proyectos__contenido-4 .proyectos__contenido-a {
            transform: translate(clamp(-36px, -2.5vw, -22px), clamp(-36px, -2.5vw, -22px));
        }
    .proyectos__contenido-5 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
        .proyectos__contenido-5 .proyectos__contenido-a {
            transform: translate(clamp(20px, 2.08vw, 30px), clamp(-20px, -0.83vw, -12px));
        }
    .proyectos__contenido-6 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
        .proyectos__contenido-6 .proyectos__contenido-a {
            flex-direction: row;
        }
    .proyectos__contenido-7 {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-content: end;
    }
        .proyectos__contenido-7 .proyectos__contenido-a {
            flex-direction: row;
        }


.proyectos__contenido-hijo span {
    animation: girarG 20s infinite;
}
.proyectos__contenido-1 span {
    animation: girar1 20s infinite;
}
.proyectos__contenido-4 span {
    animation: girar2 20s infinite;
}
/* * Animaciones */
@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes girar1 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg) translateX(40px);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg) translateX(-40px);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes girar2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg) translateX(-40px);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg) translateX(40px);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes girarG {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes girarG2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    /*
    .proyectos__contenido-7 .proyectos__contenido-a, .proyectos__contenido-6 .proyectos__contenido-a, .proyectos__contenido-3 .proyectos__contenido-a,
    .proyectos__contenido-2 .proyectos__contenido-a, .proyectos__contenido-1 .proyectos__contenido-a  {
        flex-direction: column;
    }

    .proyectos__contenido-hijo, .proyectos__contenido-1 .proyectos__contenido-a {
        justify-content: center;
    }

    .proyectos__img {
        order: -1;
    }
    */

    .proyectos__circulo-h2 {
        font-size: 24px;
    }

    .proyectos__circulo-p, .proyectos__contenido-a {
        font-size: 20px;
    }

    .proyectos__contenido-hijo span {
        animation: girarG2 20s infinite;
    }

    .proyectos__contenido-a span {
        font-size: 12px;
    }


    .proyectos__contenido-4 .proyectos__contenido-a {
        transform: translate(-25px, 1px);
    }
    .proyectos__contenido-5 .proyectos__contenido-a {
        transform: translate(0);
    }
    .proyectos__contenido-2 .proyectos__contenido-a {
        transform: translate(-6px, -31px);
    }
}




/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION CONTACTANOS
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.contactanos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(50px, 8.33vw, 120px);
    padding-top: clamp(50px, 12.5vw, 180px);
}
.contactanos__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(20px, 2.78vw, 40px);
    border-radius: 20px;
    width: 70%;
    padding: clamp(25px, 3.47vw, 50px);
}
.contactanos__contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(20px, 1.74vw, 25px);
    width: 100%;
}
.contactanos__titulo {
    font-size: var(--h1);
}
.contactanos__texto {
    text-align: center;
    margin-bottom: clamp(10px, 5.56vw, 80px);
}
.contactanos__boton {
    width: 30%;
    display: inline-block;
    background: transparent;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    border: 2px solid var(--blanco);
}
.contactanos__texto-pequeño {
    display: inline-block;
    font-size: clamp(17px, calc(25vw/9), 25px);
}
.contactanos__icono {
    font-size: clamp(17px, calc(25vw/9), 25px);
    margin-right: 8px;
}

/* * Animaciones */
.contactanos__boton:hover {
    background: var(--celeste);
    transform: scale(1.1);
    font-weight: 600;
}


/* * Información personal */
.infoPersonal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoPersonal__h3 {
    margin-bottom: 12px;
}
.redes-sociales {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}
.instagram:hover, .tiktok:hover {
    color: var(--celeste);
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 450px) {
    .contactanos__boton {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .contactanos__card {
        width: 100%;
    }
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION FORMULARIO
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.formulario {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(15, 14, 16, 0.80);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario__slider {
    width: 80%;
    max-width: 950px;
    background: var(--colorPrimario);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 2.43vw, 35px);
    position: relative;
    transform: translateY(-75vh);
    transition: 1.5s;
}

.formulario__contenedor {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 25px;
    display: flex;
    align-items: center;
    padding: 5px 11px;
    border-radius: 50%;
    background: transparent;
}
.formulario__equis {
    font-size: var(--h2);
}
    /* * Animacion */
    .formulario__contenedor:hover {
        background: var(--celeste);
    }

/* * Slide */
.contenedor {
    display: flex;
    transition: 1.5s;
}
.contenedor__card {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 15px;
    padding: clamp(10px, 1.74vw, 25px) clamp(20px, 2.08vw, 30px);
}
.contenedor__copy {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contenedor__input {
    background-color: transparent;
    border: transparent;
    width: 80%;
    border-bottom: 2px solid var(--blanco);
}
.contenedor__input:focus {
    outline: none;
}
.contenedor__number {
    font-weight: 600;
}
.contenedor__flecha-icono {
    font-size: clamp(18px, 2.08vw, 30px);
}

    /* * Mensaje Final */
    .contenedor__exito {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    .contenedor__exito-texto {
        font-size: var(--h3);
        font-weight: 700;
    }

/* * Barra */
.formulario__barra {
    width: 0%;
    height: 8px;
    background: var(--colorSecundario);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1.5s;
}

/* * Controles */
.formulario__controles {
    padding: 0 clamp(20px, 2.08vw, 30px);
    padding-bottom: clamp(20px, 2.08vw, 30px);
    display: flex;
    justify-content: space-between;
}
.formulario__controles-contenedorI, .formulario__controles-contenedorD {
    padding: 8px clamp(15px, 1.74vw,25px);
    padding-top: 10.5px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid var(--blanco);
    font-size: clamp(16px, calc(25vw/9), 28px);;
}
.formulario__controles-contenedorI:hover, .formulario__controles-contenedorD:hover {
    transform: scale(1.1);
    background: var(--celeste);
}
.formulario__controles-contenedorI {
    opacity: 0;
    cursor: auto;
}




/* * Logo */
.picture {
    width: 100%;
    display: flex;
    justify-content: center;
}
.picture__img {
    width: 20%;
    object-fit: contain;
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 850px) {
    .picture__img {
        width: 40%;
    }
}
@media screen and (max-width: 520px) {
    .contenedor__card {
        grid-template-columns: 1fr;
    }
    .contenedor__number, .contenedor__flecha {
        display: none;
    }
    .contenedor__input {
        width: 100%;
    }
    .contenedor__input:focus {
        outline: none;
        border-bottom: 3.8px solid var(--celeste);
    }
    .contenedor__exito {
        padding: clamp(10px, 1.74vw, 25px) clamp(20px, 2.08vw, 30px);
    }
    .contenedor, .formulario__barra {
        transition: 1s;
    }
    .formulario__equis {
        font-size: var(--p);
    }
    .formulario__contenedor {
        padding: 3px 6px;
    }
}
