
/* TODO VARIABLES */
:root {
    /* * Estilos de los textos */
    --h1: clamp(52px, calc(125vw/8), 100px);
    --h2: clamp(36px, calc(35vw/9), 56px);
    --h3: clamp(30px, calc(10vw/3), 48px);
    --p: clamp(23px, calc(25vw/9), 40px);

    --h1-2: clamp(32px, calc(25vw/8), 45px);
    --h2-2: clamp(24px, calc(5vw/2), 36px);
    --h3-2: clamp(23px, calc(35vw/18), 28px);
    --p-2: clamp(16px, calc(25vw/18), 20px);

    --mediano: clamp(18px, 2.5vw, 36px);;
    --pequeno: clamp(10px, 1.389vw, 20px);

    --tipografia2: 'Yaldevi', sans-serif;
    --tipografia1: 'Yanone Kaffeesatz', sans-serif;

    /* * Estilos de Colores */
    --colorPrimario: linear-gradient(90deg, rgba(15,14,16,1) 25%, rgba(39,37,37,1) 45%);
    --colorSecundario: linear-gradient(180deg, rgba(20,122,175,1) 0%, rgba(13,16,33,1) 100%);
    --inversoPrimario: linear-gradient(90deg, rgba(39,37,37,1) 55%, rgba(15,14,16,1) 75%);
    --inversoSecundario: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(20,122,175,1) 100%);

    --negro: #020202;
    --gris: #575757;
    --blanco: #fdfdfd;
    --celeste: rgba(20,122,175,1);

    /* * otro */
    --colum1: calc(var(--colum1-2) - 20px);
    --colum1-2: calc(100vw/8);
}


/* TODO ESTILOS GENERALES */
* {
    font-family: var(--tipografia1);
    font-size: var(--p);
    font-weight: 400;
    
    color: var(--blanco);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--colorPrimario);
    /* overflow: hidden;*/
}
h1 {
    font-size: var(--h1);
    font-weight: 900;
    margin: 0;
}
h2 {
    font-size: var(--h2);
    font-weight: 700;
    text-align: center;
}
h3 {
    font-size: var(--h3);
    font-weight: 600;
}
section {
    padding: clamp(50px, 6.94vw, 120px) var(--colum1); /* 100px */
    padding-bottom: clamp(70px, 8.33vw, 140px); /* 120px */
}
a {
    text-decoration: none;
}
img {
    object-fit: contain;
}
nav {
    list-style: none;
}
ol, ul {
    margin-left: 1em;
}
.nunito {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: var(--mediano);
}
.nunitoBold {
    font-weight: 500;
}


/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                           SECCION PANTALLA CARGA
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.carga {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: rgba(15, 14, 16, 0.85);
}
.logo {
    display: inline-block;
    display: flex;
    justify-content: center;
    position: relative;
}
.logo__img {
    width: clamp(200px,27.78vw,400px);
    object-fit: contain;
}
.logo__linea {
    position: absolute;
    width: 95%;
    height: 2.5px;
    background-color: var(--blanco);
    border-radius: 50%;
    bottom: 30%;
    animation: cargando 2.5s infinite;

}

/* * Animaciones */
@keyframes cargando {
    0% {
        width: 2%;
    }
    100% {
        width: 95%;
    }
}
/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 330px) {
    .logo__img {
        width: 80%;
    }
}


/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION HEADER
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * codigo */
.header__nav {
    display: flex;
    justify-content: space-between;
}
.header__li {
    text-transform: uppercase;
    font-family: var(--tipografia2);
    font-size: var(--h3-2);
    font-weight: 500;
    cursor: pointer;
}

/* * hover */
.header__li:hover {
    font-weight: 600;
    transform: scale(1.2);
}
/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .header {
        display: none;
    }
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION HEADER RESPONISVE
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * codigo */
.headerRes {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #02020250;
}
.headerRes__i {
    font-size: 40px;
}
.headerRes__nav {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background: var(--negro);
    transform: translateY(-100%);
    transition: 1.5s;
}
.headerRes__li {
    text-transform: uppercase;
    font-family: var(--tipografia2);
    font-size: var(--h3-2);
    font-weight: 500;
    cursor: pointer;
}

/* * hover */
.headerRes__li:hover {
    font-weight: 600;
    transform: scale(1.2);
}
/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .headerRes {
        display: flex;
    }
    .headerRes__nav {
        display: flex;
    }
}





/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION NOSOTROS
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-bottom: clamp(70px, 12.5vw, 180px);
}
.nosotros__titulo {
    font-size: var(--h1);
}
.nosotros__descripcion {
    font-family: var(--tipografia2);
    font-weight: 300;
    font-size: clamp(20px, 2.431vw, 35px);
    grid-row: 2/3;
    grid-column: 2/3;
}
.nosotros__flecha {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .nosotros {
        grid-template-columns: 1fr;
        gap: 15px;
        padding-top: 150px;
    }
    .nosotros__descripcion {
        grid-column: 1/2;
    }
    .nosotros__flecha {
        display: none;
    }
    
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                               SECCION VIDEO
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.video {
    background-image: url(../img/chica-sentada.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 3.125vw, 45px);
    margin-bottom: clamp(50px, 11.11vw, 160px);
    height: clamp(230px, 52.083vw, 750px);
}
.video__play {
    width: clamp(40px, 4.86vw, 70px);
    height: clamp(40px, 4.86vw, 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--celeste);
    padding-left: clamp(3px, 0.49vw, 7px);
    position: absolute;
    z-index: 5;
}
.video__controles{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 5;
    bottom: clamp(47px, 5.556vw, 110px);
}
.video__linea {
    width: 85%;
    height: 5px;
    background-color: var(--blanco);

}
.video__cuadrado {
    width: 85%;
    height: 85%;
    position: absolute;
    border: 5px solid var(--celeste);
}
.video__img {
    width: 70%;
    position: absolute;
    z-index: 4;
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .video__linea {
        width: 65%;
        height: 5px;
        background-color: var(--blanco);
    
    }
    .video__cuadrado {
        width: 95%;
        height: 80%;
        border: 2px solid var(--celeste);
    }
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION DIVISOR
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.divisor {
    padding: clamp(10px, 2.08vw, 30px) 0;
}
.carrusel {
    overflow: hidden;
}
.carrusel__contenedor {
    display: flex;
    width: calc(20/6*100%);
}
.carrusel__card {
    width: 5%;
    padding: 0 clamp(10px, 3.82vw, 55px);
}

.carrusel__img {
    filter: grayscale(100%) invert(100%);
}

.carrusel__img-mantener {
    filter: none;
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .carrusel__contenedor {
        width: 500%;
    }
    .carrusel__card {
        width: 25%;
    }
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION PROYECTOS
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
}
.proyectos__circulo {
    width: 260px;
    height: 260px;
    background: linear-gradient(135deg, rgba(168,168,168,1) 0%, rgba(7,7,7,1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.proyectos__circulo-h2 {
    font-size: 35px;
}
.proyectos__circulo-p {
    font-size: 25px;
}
.proyectos__linea {
    /*
    width: clamp(230px, 52.08vw, 750px);
    height: clamp(230px, 52.08vw, 750px);
    */
    width: 552px;
    height: 552px;
    border: 2px solid var(--blanco);
    border-radius: 50%;
    position: absolute;
    transform: translateY(0px);

    animation: girar 35s infinite linear;
}
.proyectos__img {
    width: 46px;
    height: 46px;
    animation: girar 15s infinite linear;
}

/* * Alineacion de los elementos que giran */
.proyectos__contenido {
    display: grid;
    /*
    grid-template-columns: 1fr 2fr 1fr 1fr 3fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr 3fr 2fr 1fr 2fr;
    */
    /*
    grid-template-columns: 2fr 1fr 2fr 1fr 3fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 3fr 1fr 2fr 1fr;
    */
    grid-template-columns: 1fr 2fr 1fr 2fr 3fr 2fr 1fr 2fr 1fr; 
    grid-template-rows: 2fr 1fr 2fr 2fr 1fr 2fr;

    width: 750px;
    height: 750px;

    
    animation: girar 35s infinite linear;
}
.proyectos__contenido-a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    /* * Asignar su columna y fila */
    .proyectos__contenido-1 {
        grid-column: 5/6;
        grid-row: 1/3;
        flex-direction: column;
        transform: translateY(-29px);
    }
    .proyectos__contenido-2 {
        grid-column: 8/10;
        grid-row: 2/4;
    }
    .proyectos__contenido-3 {
        grid-column: 8/10;
        grid-row: 4/6;
    }
    .proyectos__contenido-4 {
        grid-column: 6/8;
        grid-row: 5/7;
        transform: translateY(-7px);
    }
    .proyectos__contenido-5 {
        grid-column: 3/5;
        grid-row: 5/7;
        transform: translateY(-7px);
    }
    .proyectos__contenido-6 {
        grid-column: 1/3;
        grid-row: 4/6;
    }
    .proyectos__contenido-7 {
        grid-column: 1/3;
        grid-row: 2/4;
    }


.proyectos__contenido-a > span {
    width: 65%;
    font-size: 30px;
    font-weight: 700;
    
    animation: girarLetra 35s infinite linear;
}
.proyectos__contenido-1 span {
    animation: girarLetraLargo 35s infinite linear;
}


/* * Animaciones */
@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes girarLetra {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes girarLetraLargo {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg) translateX(clamp(0px, 4.514vw, 55px));
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg) translateX(clamp(-25px, -4.514vw, -55px));
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (min-width: 650px) and (max-width: 950px) {
    .proyectos__contenido {
        width: 520px;
        height: 520px;
    }
    .proyectos__linea {
        width: 385px;
        height: 385px;
    }
    .proyectos__contenido-1 {
        transform: translateY(-24px);
    }
    .proyectos__contenido-4, .proyectos__contenido-5 {
        transform: translateY(-5px);
    }

    .proyectos__circulo {
        width: 215px;
        height: 215px;
    }
    .proyectos__circulo-h2 {
        font-size: 28px;
    }
    .proyectos__circulo-p {
        font-size: 22px;
    }

    .proyectos__contenido-a > span {
        font-size: 25px;
    }
    .proyectos__img {
        width: 38px;
        height: 38px;
    }
}

@media screen and (max-width: 650px) {
    .proyectos {
        padding-bottom: 20px;
    }
    .proyectos__contenido {
        width: 270px;
        height: 270px;
    }
    .proyectos__linea {
        width: 196px;
        height: 196px;
    }
    .proyectos__contenido-1 {
        transform: translateY(-15px);
    }
    .proyectos__contenido-4, .proyectos__contenido-5 {
        transform: translateY(-5px);
    }
    .proyectos__contenido-3 {
        transform: translateX(-3px);
    }
    .proyectos__contenido-7 {
        transform: translateX(4px);
    }

    .proyectos__circulo {
        width: 120px;
        height: 120px;
    }
    .proyectos__circulo-h2 {
        font-size: 17px;
    }
    .proyectos__circulo-p {
        font-size: 14px;
    }

    .proyectos__contenido-a > span {
        font-size: 17px;
    }
    .proyectos__img {
        width: 30px;
        height: 30px;
    }

    .proyectos__contenido-a {
        gap: 5px;
    }
}


/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION CONTACTANOS
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.contactanos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(35px, 7.292vw, 105px);
}
.contactanos__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 70%;
    padding: clamp(25px, 3.47vw, 50px);
}
.contactanos__contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(12px, 1.389vw, 20px);
    width: 100%;
}
.contactanos__titulo {
    font-size: var(--h1);
}
.contactanos__texto {
    width: 80%;
    font-size: var(--mediano);
    text-align: center;
    margin-bottom: clamp(40px, 5.56vw, 80px);
}
.contactanos__botonTexto {
    display: flex;
    align-items: center;
    position: relative;
}
/** ENTER */
.contactanos__enter {
    position: absolute;
    right: 0;
    font-size: var(--pequeno);
    transform: translateX(calc(100% + 15px));
}
.contactanos__enter-i {
    font-size: var(--pequeno);
}



.contactanos__boton {
    min-width: clamp(170px, 19.444vw, 280px);
    display: inline-block;
    background: transparent;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    border: 2px solid var(--blanco);
}
.contactanos__texto-pequeño {
    display: inline-block;
    font-size: var(--pequeno);
    text-align: center;
}
.contactanos__icono {
    font-size: var(--pequeno);
    margin-right: 8px;
}

/* * Animaciones */
.contactanos__boton:hover {
    transform: scale(1.1);
    font-weight: 600;
}
.contactanos__boton:hover ~ .contactanos__enter {
    transform: translateX(calc(100% + 25px));
}


/* * Información personal */
.infoPersonal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoPersonal__h3 {
    margin-bottom: 12px;
    font-weight: 600;
}
.redes-sociales {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 800px) {
    .contactanos__texto {
        font-size: var(--h3-2);
        margin-top: -5px;
    }
    .contactanos__card {
        width: 100%;
    }
    .contactanos__texto {
        width: 100%;
    }
}



/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION FORMULARIO
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */
.formulario {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(15, 14, 16, 0.80);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario__slider {
    width: 80%;
    max-width: 950px;
    background: var(--colorPrimario);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 2.43vw, 35px);
    position: relative;
    transform: translateY(-75vh);
    transition: 1.5s;
}

.formulario__contenedor {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 25px;
    display: flex;
    align-items: center;
    padding: 5px 11px;
    border-radius: 50%;
    background: transparent;
}
.formulario__equis {
    font-size: var(--h2);
    cursor: pointer;
}

/* * Slide */
.contenedor {
    display: flex;
    transition: 1.5s;
}
.contenedor__card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    padding: clamp(10px, 1.74vw, 25px) clamp(20px, 2.08vw, 30px);
}
.contenedor__copy {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contenedor__input {
    background-color: transparent;
    border: transparent;
    width: 99%;
    border-bottom: 2px solid var(--blanco);
}
.contenedor__input-corto {
    width: 90%;
}
.contenedor__input:focus {
    outline: none;
}
.contenedor__number {
    font-weight: 600;
}
.contenedor__flecha-icono {
    font-size: clamp(18px, 2.08vw, 30px);
}

    /* * Mensaje Final */
    .contenedor__exito {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    .contenedor__exito-texto {
        font-size: var(--mediano);
        font-weight: 700;
    }

/* * Barra */
.formulario__barra {
    width: 0%;
    height: 4px;
    background: var(--blanco);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1.5s;
}

/* * Controles */
.formulario__controles {
    margin-left: calc(clamp(15.3px, 2.153vw, 31px) + 15px);
    padding: 0 clamp(20px, 2.08vw, 30px);
    padding-bottom: clamp(20px, 2.08vw, 30px);
    display: flex;
    justify-content: space-between;
}
.formulario__controles-contenedorI, .formulario__controles-contenedorD, .formulario__enviar {
    padding: 8px clamp(15px, 1.74vw,25px);
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 5px;
    border: 2px solid var(--blanco);
    font-size: var(--pequeno);
    cursor: pointer;
}
.formulario__controles-contenedorI:hover, .formulario__controles-contenedorD:hover {
    transform: scale(1.1);
}
.formulario__controles-contenedorI {
    opacity: 0;
}
.formulario__enviar {
    display: none;
}



/* * Logo */
.picture {
    width: 100%;
    display: flex;
    justify-content: center;
}
.picture__img {
    width: 20%;
    object-fit: contain;
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 850px) {
    .picture__img {
        width: 40%;
    }
}
@media screen and (max-width: 520px) {
    .contenedor__card {
        grid-template-columns: 1fr;
    }
    .contenedor__number, .contenedor__flecha {
        display: none;
    }
    .contenedor__input {
        width: 100%;
    }
    .contenedor__exito {
        padding: clamp(10px, 1.74vw, 25px) clamp(20px, 2.08vw, 30px);
    }
    .contenedor, .formulario__barra {
        transition: 1s;
    }
    .formulario__equis {
        font-size: var(--p);
    }
    .formulario__contenedor {
        padding: 3px 6px;
    }
    .formulario__controles {
        margin-left: 0px;
    }
}
